    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi, ad sint. Perspiciatis fugiat labore aperiam quae dolorem itaque animi culpa, dolores earum vero velit minima ipsa quo architecto dignissimos iusto!</p>
            </div>
            <div class="col-md-4">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestias, tempora ipsa quod porro sed modi error alias animi expedita vitae delectus voluptas voluptates quasi in. Nemo, obcaecati! Nostrum, sunt?</p>
            </div>
        </div>
    </div>